@import '/src/utils/sass/mixins.scss';

.heroContainer {
	position: relative;
	overflow: hidden;
	height: 100vh;
}

.doorKnockerContainer {
	position: fixed;
	top: 80px;
	right: 10px;
	z-index: 99;
}

.video {
	@include responsive(smallTablet) {
		object-position: -38rem;
	}

	@include responsive(extraSmallDevice) {
		object-position: -52rem;
	}

	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
	filter: brightness(65%);
}

.overlay {
	position: relative;
	z-index: 1;
	align-items: center;
	height: 100%;
}

.logoContainer {
	@include flex($direction: column, $justify: space-between);

	position: absolute;
	top: 50%;
	left: 50%;
	gap: 1rem;
	height: 100%;
	transform: translate(-50%, -50%);

	& svg {
		width: 85%;
		height: 100%;
	}
}

@include responsive(smallDevice) {
	.contalogoContaineriner {
		& svg {
			width: 100%;
		}
	}
}
