.mainContainer {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.contentContainer {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	width: 100%;
	max-width: 1900px;
	margin: 0 auto;
}
