@import '/src/utils/sass/mixins.scss';

.modalOverlay {
	@include flex;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100vw;
	height: 100vh;
	background-color: rgba(10, 10, 10, 0.8);
}

.modalContainer {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
	width: 100vw;
	max-width: 1800px;
	height: 70vh;
	min-height: 200px;
	max-height: 600px;
}

.modalCardImage {
	object-fit: cover;
	width: 100%;
	height: 100%;
	filter: grayscale(100%);
	transition: filter 0.4s ease;
}

.modalCardContainer {
	position: relative;
	flex: none;
	overflow: hidden;
	height: 100%;

	&:hover {
		.modalCardImage {
			filter: grayscale(0%);
		}
	}
}

.carouselTrack {
	display: flex;
	flex-wrap: nowrap;
}

.modalCardOverlay {
	@include flex(flex-end, start, column);

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 16px;
	background-color: #2121211e;
	cursor: pointer;
}

.modalCardTitle {
	margin: 0 0 20px;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}

.modalCardDescription {
	min-height: 180px;
	margin: 0;
	color: #eee;
	font-size: 14px;
	line-height: 1.4;
}

.modalCardContainerSelected {
	@extend .modalCardContainer;

	@include flex;

	gap: 20px;
	padding-right: 50px;
	padding-left: 50px;
}

.modalCardImageSelected {
	object-fit: cover;
	width: 45%;
	height: 90%;
}

.modalCardOverlaySelected {
	@extend .modalCardOverlay;

	position: relative;
	justify-content: center;
	background-color: transparent;
	cursor: default;

	.modalCardDescription {
		min-height: 0;
	}
}

@mixin icon-button {
	@include flex;

	position: absolute;
	width: 26px;
	height: 26px;
	border: none;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);
	cursor: pointer;

	&:hover {
		background-color: #ffffff0d;
	}
}

.cross {
	@include icon-button;

	top: 6px;
	left: 10px;

	img {
		width: 10px;
		height: 10px;
	}
}

.leftArrow {
	@include icon-button;

	left: 10px;

	img {
		width: 14px;
		height: 14px;
	}
}

.rightArrow {
	@include icon-button;

	right: 10px;

	img {
		width: 14px;
		height: 14px;
	}
}
